
/week_1_basics_and_setup/chapter_4/.terraform.lock.hcl
/week_1_basics_and_setup/chapter_4/.terraform/providers/registry.terraform.io/hashicorp/google/4.80.0/darwin_amd64/terraform-provider-google_v4.80.0_x5
/week_1_basics_and_setup/chapter_4/.terraform/terraform.tfstate
/week_1_basics_and_setup/chapter_4/gcp.json
/week_1_basics_and_setup/chapter_4/terraform.plan
/week_1_basics_and_setup/chapter_4/terraform.tfstate
/week_1_basics_and_setup/chapter_4/terraform.tfstate.backup
/week_1_basics_and_setup/chapter_4/terraform_out
/week_1_basics_and_setup/homework/output.csv
/week_1_basics_and_setup/chapter_1/yellow_tripdata_2019_01.csv
/week_1_basics_and_setup/chapter_4/.terraform


/week_1_basics_and_setup/chapter_1/.ipynb_checkpoints
/week_1_basics_and_setup/chapter_1/yellow_tripdata_2019_01.csv
/week_1_basics_and_setup/chapter_2/.env
/week_1_basics_and_setup/chapter_3/.env
/week_1_basics_and_setup/chapter_3/data_pgadmin
/week_1_basics_and_setup/chapter_3/ny_taxi_postgres_data

/week_1_basics_and_setup/homework/.env
/week_1_basics_and_setup/homework/output.csv
/week_1_basics_and_setup/homework/ny_taxi_postgres_data

/week_1_basics_and_setup/ny_taxi_postgres_data
/week_1_basics_and_setup/yellow_tripdata_2019-01.csv.gz
/week_1_basics_and_setup/yellow_tripdata_2019-01.csv.gz.1
/week_1_basics_and_setup/homework/ny_taxi_postgres_data

/week_2_workflow_orchestration