# ignore secrets, virtual environments and typical python compilation artifacts
secrets.toml
# ignore basic python artifacts
.env
**/__pycache__/
**/*.py[cod]
**/*$py.class
# ignore duckdb
*.duckdb
*.wal
.dlt/secrets.toml
.sources
config.toml
dlt/*
/dlt_ipykernel_launcher.duckdb
/dlt_ipykernel_launcher.duckdb.wal
dlt_project/dlt/mydata/_dlt_pipeline_state/*
dlt_project/dlt/mydata/users/*